RewriteEngine On
RewriteBase /

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Serve index.html for all non-file requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]